body{
	margin: 0;
	padding:0;
	float: center;
	text-align: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	background: url(images/templatemo_body_bg.jpg) repeat;
}
a:link, a:visited { color: #720803; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #720803; text-decoration: none; font-weight: bold; }

#templatemo_title {
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	height: 55px;
	font-size: xx-large;
	line-height: 1.6em;
}

span {
	color: lawngreen;
	font-size: large;
}

h2 {
	font-size: medium;
}

#templatemo_center_content {
	text-align: justify;
	text-align: center;
	justify-content: center;
	color: black;
}

table tr td {
	padding: 50px;
}

#templatemo_footer {
	clear: both;
	text-align: center;
	font-size: medium;
	color: #000000;
	padding-bottom: 20px;
}
#templatemo_footer a {
	color: #000000;
}