/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #444444;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Barlow', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #202C45;
}

a {
    color: #202C45;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #E81C2E;
    outline: none;
    text-decoration: none;
}

.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center; 
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #E81C2E;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}
#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

/**********************************/
/****** Loader & Back to Top ******/
/**********************************/
#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #E81C2E;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: .5s;
    background: #E81C2E;
    border-radius: 44px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #202C45;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    background: #202C45;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #202C45;
}

.nav-bar.nav-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    padding: 20px 0;
    background: #202C45 !important;
    transition: .3s;
}

.nav-bar.nav-sticky .navbar {
    padding: 5px 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #E81C2E;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn.btn-custom {
    color: #202C45;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #E81C2E;
}

.nav-bar .btn:hover {
    color: #ffffff;
    background: #E81C2E;
    box-shadow: inset 200px 0 0 0 #E81C2E;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        padding: 5px 0;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}

/* Tabla de contenidos */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: gray;
    color: white;
}

td {
    background-color: white;
    color: black;
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: #ffffff;
    margin-bottom: 45px;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .carousel-item {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .carousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    text-align: right;
    overflow: hidden;
}

.carousel .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-text {
    position: absolute;
    max-width: 992px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .carousel-text h3 {
    color: #E81C2E;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 0px;
}

.carousel .carousel-text h1 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
}

.carousel .carousel-text p {
    max-width: 500px;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 40px;
}

.carousel .btn.btn-custom {
    padding: 20px 45px 22px 45px;
    color: #ffffff;
}

.carousel .btn.btn-custom:hover {
    color: #E81C2E;
}

.carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: calc(50% - 25px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50px;
    background: rgba(256, 256, 256, .2);
    font-size: 22px;
    transition: .5s;
}

.carousel .owl-nav .owl-prev {
    margin-left: 30px;
}

.carousel .owl-nav .owl-next {
    margin-right: 30px;
}

.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #E81C2E;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@media (max-width: 991.98px) {
    .carousel .carousel-text h3 {
        margin-bottom: 5px;
    }
    
    .carousel .carousel-text h1 {
        font-size: 60px;
    }
    
    .carousel .carousel-text p {
        font-size: 16px;
    }
    
    .carousel .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel .carousel-text h3 {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
    
    .carousel .carousel-text h1 {
        font-size: 45px;
    }
    
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text h3 {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    .carousel .carousel-text h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .carousel .carousel-text p {
        margin-bottom: 25px;
    }
    
    .carousel .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #202C45;
    border-top: 1px dotted #ffffff;
}

.page-header h2 {
    position: relative;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #ffffff;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #ffffff;
}

.page-header a:hover {
    color: #E81C2E;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #ffffff;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin: 0 auto 45px auto;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about .about-content {
    margin-bottom: 30px;
}

.about .about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

.about .about-content ul li {
    margin-bottom: 5px;
}

.about .about-content ul li i {
    margin-right: 8px;
    color: #E81C2E;
}


/*******************************/
/******** Location CSS *********/
/*******************************/
.location {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.location .location-item {
    display: flex;
    margin-bottom: 30px;
}

.location .location-item i {
    padding-top: 3px;
    font-size: 30px;
    color: #E81C2E;
}

.location .location-text {
    padding-left: 15px;
}

.location .location-text h3 {
    font-size: 18px;
    font-weight: 700;
}

.location .location-text p {
    margin-bottom: 5px;
}

.location .location-text p strong {
    margin-right: 5px;
    font-weight: 600;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #202C45;
}

.footer .copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright p a {
    color: #E81C2E;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

#cuadros-explicacion {
    border: 2px solid black; /* Borde negro de 2px */
    padding: 10px; /* Espacio interno */
    width: fit-content; /* Ajustar el ancho al contenido */
    margin: 20px; /* Margen alrededor */
    background-color: #f5f5f5; /* Color de fondo suave */
    letter-spacing: 2px;
    font-size: large;
    text-align: center;
}

#cuadro-recuerda {
    border: 4px solid red; /* Borde negro de 2px */
    padding: 10px; /* Espacio interno */
    width: fit-content; /* Ajustar el ancho al contenido */
    margin: 20px; /* Margen alrededor */
    background-color: #d4afce; /* Color de fondo suave */
    letter-spacing: 2px;
    font-size: large;
    text-align: center;
}

.traduccion-banderas {
    width: 100px;
}